<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AI LIBRARY</title>
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand " href="#"><span class="text-info">AI</span> LIBRARY</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Main</a>
                <a class="nav-item nav-link" href="/code/post">Post your codes</a>
                <a class="nav-item nav-link" href="/code/search">Search</a>
                <a class="nav-item nav-link" href="/code/about">About</a>
            </div>
        </div>
    </nav>
    <div class="text-white">
        <% codes.forEach(codes => { %>
            <div class="card mt-4">
                <div class="card-body bg-dark">
                    <div class="card-title">
                        <h1><%= codes.title %></h1>
                    </div>
                    <div class="card-subtitle muted-text">
                        <%= codes.date.toLocaleDateString() %>
                    </div>
                    <div class="card-text">
                        <p>username: <%= codes.user %> | programming_language: <%= codes.programming_language %></p>
                    </div>
                    <div>
                        <%= codes.description %>
                    </div>

                    <br/>

                    <a href="code/<%= codes.slug %>" class="btn btn-primary">View Code</a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>