<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AI LIBRARY</title>
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><span class="text-info">AI</span> LIBRARY</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Main</a>
                <a class="nav-item nav-link" href="/code/post">Post your codes</a>
                <a class="nav-item nav-link" href="/code/search">Search</a>
                <a class="nav-item nav-link" href="/code/about">About</a>
            </div>
        </div>
    </nav>
    <div class="text-white">
        <div class="container">

            <h1><%= codes.title %></h1>

            <div class="muted-text">
                <p><%= codes.date.toLocaleDateString() %>  |   Username: <%= codes.user %>   |    Programming Language: <%= codes.programming_language %></p>
            </div>
            <div class="text-light">
                <hr />
            </div>

            <pre class="text-white"><code><%= codes.code %></code></pre>

        </div>
    </div>

</body>
</html>